// sensible normalized styles
@import "normalize";
// code highliting
@import "rouge-github";
// colors, breakpoints and font settings
@import "variables";
@import "mixins";
// external imports
@import url('https://fonts.googleapis.com/css?family=Lato');

/*
 * Global Styles
 */
* {
  box-sizing: border-box;
  transition: all 0.2s ease-out
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $body-font-size;
  line-height: 1.5;
  color: $body-text-color;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: -1px 1px #ccc,
              -2px 2px #ccc,
              -3px 3px #ccc;
}

/*
 * Content Styles
 */
@import "sections/main";

/*
 * Section Styles
 */
@import "sections/header";
@import "sections/footer";

/*
 * Page-specific Styles
 */
@import "blog";
